.order-form-container{
    margin-left: auto;
    margin-right: auto;
    width: 99vw;
    border-color: whitesmoke;
    border-bottom: 1px groove;
    border-left: 1px groove;
    border-right: 1px groove;
    height:120px;
    
}
.logo {
    display: inline-block;
    
    width:25vw;
    height:100px;
    margin-left:2vw;
    margin-right:2vw;
    vertical-align: middle;
    margin-top:15px;
}

.info {
    display: inline-block;
    width: 65vw;
    vertical-align: middle;
}

.more {
    display: inline-block;
    color: gray;
    text-align: center;
    height:120px;
    width: 5vw;
    vertical-align: middle;
}

.wrapper {    
    padding-top:50px;
    padding-bottom: 50px;
    
}

.img-logo {
    display: block;
    width:80px;
    margin-left: auto;
    margin-right: auto;
}

.type {
    display: inline-block;
    font-weight: bolder;
    color: rgb(0, 150, 0);
}

.date {
    display: inline-block;  
    font-weight: bold;
    width:40vw;
    margin-left: 8vw;
    text-align: center;
}

.name {
    padding-top: 10px;
    line-height: 24px;
    overflow: hidden;
    max-height: 50px;
}

.hidden {
    display: none;
}

.gray {
    color: gray;
    filter: grayscale(100%);
}